<section class="container mt-5">
  <form action="" class="row g-3">
    <h1 class="text-center mb-4">Register Form</h1>

    <div class="col-md-6">
      <label for="role" class="form-label">Role</label>
      <input type="text" class="form-control" name="role" id="role" placeholder="Enter your role">
    </div>

    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email">
    </div>

    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password">
    </div>

    <div class="col-md-6">
      <label for="photo" class="form-label">Photo</label>
      <input type="text" class="form-control" name="photo" id="photo" placeholder="Enter photo URL">
    </div>

    <div class="col-12">
      <button id="register" type="submit" class="btn btn-primary w-100">Register</button>
    </div>
  </form>
</section>
